NEAL_ACCESS_DATABASE=/var/lib/neal-access-issuer/issuer.sqlite3
NEAL_ACCESS_CHAIN_ID=solana:mainnet
NEAL_ACCESS_SOLANA_GENESIS_HASH=5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp
NEAL_ACCESS_PROGRAM_ID=REPLACE_WITH_REVIEWED_PROGRAM_ID
NEAL_ACCESS_PROGRAM_DATA_ADDRESS=REPLACE_WITH_REVIEWED_PROGRAM_DATA_ADDRESS
NEAL_ACCESS_PROGRAM_SHA256=REPLACE_WITH_REVIEWED_PROGRAM_SHA256
NEAL_ACCESS_CONFIG_ADDRESS=REPLACE_WITH_REVIEWED_CONFIG_PDA
NEAL_ACCESS_MINT=8JBYSxrFRMf1Y4NcbjyEsxGPFe4AXzHXELmXh4WYDCBE
NEAL_ACCESS_EXPECTED_REVISION=REPLACE_WITH_FINALIZED_CONFIG_REVISION
NEAL_ACCESS_EXPECTED_AMOUNT=69000000000
NEAL_ACCESS_EXPECTED_LOCK_SECONDS=7776000
NEAL_ACCESS_PUBLIC_ORIGIN=https://nealtheseal.org
NEAL_ACCESS_MATRIX_URL=http://127.0.0.1:8008
NEAL_ACCESS_MATRIX_SERVER_NAME=matrix.nealtheseal.org
NEAL_ACCESS_RECOVERY_KEY_VERSION=1
NEAL_ACCESS_BACKUP_RECOVERY_PUBLIC_KEY_FILE=/etc/neal-access-issuer-recovery-public.pem
NEAL_ACCESS_MATRIX_SECRET_FILE=/srv/neal-matrix/runtime/synapse/registration-shared-secret
NEAL_ACCESS_ISSUER_KEYPAIR_FILE=/etc/neal-access-issuer-issuer-keypair.json
NEAL_ACCESS_SOCKET=/run/neal-access-issuer/issuer.sock
NEAL_ADMIN_MONITOR_SOCKET=/run/neal-admin-monitor/monitor.sock
NEAL_ADMIN_MONITOR_DATABASE=/var/lib/neal-admin-monitor/sessions.sqlite3
NEAL_MATRIX_LOOPBACK_URL=http://127.0.0.1:8008
NEAL_MATRIX_SERVER_NAME=matrix.nealtheseal.org
NEAL_ADMIN_USER_ID=@beaver:matrix.nealtheseal.org
NEAL_PUBLIC_ORIGIN=https://nealtheseal.org
NEAL_MATRIX_ROOM_ALIAS=#neal-gc:matrix.nealtheseal.org
NEAL_MATRIX_ROOM_ID=!KliLLiEXeNPupDcYwe:matrix.nealtheseal.org
NEAL_HERMES_USER_ID=@neal:matrix.nealtheseal.org
